*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #BEBEBE;
}
body{
  background-color: #2F2836;
}
h1{
  font-size: 2.25rem;
  text-align: center;
  margin-top: 2rem;
}
nav{
  display: flex;
  flex-direction: row;
  padding: 1rem 1.25rem;
}
.nav-box{
  width: fit-content;
  list-style: none;
}
.link-nav a{
  text-decoration: none;
}
main{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 88vw;
  margin: 1.5rem auto;
}
.form-inputs{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.form-inputs input::placeholder{
  color:#bebebeb1
}
.form-inputs input:focus-visible{
  outline: none;
}
.form-inputs input{
  width: 155px;
  height: 40px;
  margin-right: 1.25rem;
  border-radius: 8px;
  padding: 0 0.5rem;
  background-color: #26212C;
  border: none;
}
.form-inputs select{
  height: 40px;
  border-radius: 8px;
  padding: 0 0.5rem;
  background-color: #26212C;
  border: none;
}
.form-inputs select:focus-visible{
  outline: none;
}
select option:focus-visible{
  outline: none;
}
.card{
  display: flex;
  width: 100%;
  background-color: #433A4D;
  border-radius: 8px;
  margin: 0.25rem 0rem;
}
figure{
  width: 25%;
  margin: 1rem;
}
.country-flag{
  height: 42px;
  width: 100%;
}
.data-card{
  width: 60%;
  list-style: none;
  margin-left: 1rem;
  margin: 1rem 0rem;
}
.country-name{
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}
.card div{
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.country-code{
  font-size: 0.75rem;
  background-color: #26212C;
  text-align: center;
  height: 1.25rem;
  border-radius: 0px 8px;
}
.more-info{
  border-style: none;
  height: 40px;
  padding-top: 10px;
  padding-left: 8px;
  background-color: darkslateblue;
  border-radius: 90px 0px 8px 0px ;
}
.more-info:hover{
  cursor: pointer;
  background-color: rgb(86, 74, 161);
}
.more-info img{
  height: 20px;
}
@media screen and (min-width: 768px){
  .card{
    width: 48%;
    background-color: #433A4D;
    border-radius: 8px;
    margin: 0.25rem;
  }
}
@media screen and (min-width: 1080px){
  .card{
    max-width: 30%;
    background-color: #433A4D;
    border-radius: 8px;
    margin: 0.25rem;
  }
  .form-inputs{
    width: 30%;
  }
}
@media screen and (min-width: 1440px){
  .card{
    max-width: 22%;
    background-color: #433A4D;
    border-radius: 8px;
    margin: 0.25rem;
  }
  .form-inputs{
    width: 22.5%;
  }
}
@media screen and (min-width: 1920px){
  .card{
    max-width: 18%;
    background-color: #433A4D;
    border-radius: 8px;
    margin: 0.25rem;
  }
  .form-inputs{
    width: 18.5%;
  }
}
@media screen and (min-width: 2440px){
  .card{
    width: 15%;
    background-color: #433A4D;
    border-radius: 8px;
    margin: 0.25rem;
  }
  .form-inputs{
    width: 15%;
  }
}
